---
- name: Converge
  hosts: all
  become: true
  gather_facts: false

  roles:
    - role: {{ role_name }}
      {{ role_name }}_parameter: value
{# this comment is needed for having a newline at EOF to pass yamllint tests #}
