---
galaxy_info:
  author: https://github.com/tehtbl
  role_name: {{ role_name }}
  description: {{ description }}
  license: MIT
  company: None
  min_ansible_version: 2.8

  platforms:
    - name: Debian
      versions:
        - buster
        - sid
    - name: Ubuntu
      versions:
        - xenial
        - bionic

  galaxy_tags:
    {% for t in tags %}
    - {{ t }}
    {% endfor %}
    - client
    - server
    - system
    - debian
    - ubuntu
    - linux

dependencies:
  - tehtbl.bootstrap
{# this comment is needed for having a newline at EOF to pass yamllint tests #}
