---
galaxy_info:
  author: https://github.com/tehtbl
  role_name: {{ role.name }}
  description: {{ role.desc }}
  license: MIT License
  company: None
  min_ansible_version: 2.8

  platforms:
    - name: Debian
      versions:
        - buster
        - sid
    - name: Ubuntu
      versions:
        - xenial
        - bionic
        - focal
{% if role.tags|length > 0 %}
  galaxy_tags:{% for t in role.tags %}
    - {{ t }}{% endfor %}{% else %}
  galaxy_tags:{% endif %}
    - client
    - server
    - system
    - debian
    - ubuntu
    - linux
{% if role.deps|length > 0 %}
dependencies:
{% for r in role.deps %}  - {{ r }}
{% endfor %}{% else %}
dependencies: []
{% endif %}
