# Security Policy

This software implements other software, it's not very likely that this software introduces new vulnerabilities.

## Reporting a Vulnerability

Please [open an issue](https://github.com/tehtbl/ansible-role-{{ role_name }}/issues) describing the vulnerability.
{# this comment is needed for having a newline at EOF to pass yamllint tests #}
